/saves
/.curseclient
/minecraftinstance.json
/logs
/local
/downloads
/.mixin.out
/defaultconfigs
/kubejs/README.txt
/kubejs/config/probe-settings.json
/ftbbackups3
/xaero
/screenshots

/config/**
!/config/industrialupgrade-common.toml
!/config/xaerohud.txt
!/config/starterkit.json5

!/config/starterkit
!/config/starterkit/kits
!/config/starterkit/kits/Default.txt

!/config/xaero
!/config/xaero/minimap
!/config/xaero/minimap/profiles
!/config/xaero/minimap/profiles/entity_radar_categories
!/config/xaero/minimap/profiles/entity_radar_categories/default.cfg.json

!/config/ftbquests**
/config/ftbquests-client.snbt

/command_history.txt
/.vscode
/usercache.json
/usernamecache.json
/XaeroWaypoints*

/crash-reports
.probe

/icon-exports-x32