/saves
/.curseclient
/minecraftinstance.json
/logs
/local
/downloads
/.mixin.out
/defaultconfigs
/kubejs/README.txt
/ftbbackups3
/xaero

/config/**
!/config/xaero
!/config/xaero/minimap
!/config/xaero/minimap/default_radar_categories_server.json

/.vscode
/usercache.json
/usernamecache.json