/saves
/.curseclient
/minecraftinstance.json
/logs
/local
/downloads
/.mixin.out
/defaultconfigs
/kubejs/README.txt
/ftbbackups3
/xaero

/config/**
!/config/xaero
!/config/xaero/minimap

/.vscode
/usercache.json
/usernamecache.json